body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
}

.item {
    border: 1px solid black;
}

.hover {
    background-color: blue;
}